*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(57, 185, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}
div{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: blue;

}

